body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .mouth-pic {
  display: block;
  width: 100px;
} */

.consonant-grid {
  border: 5px solid black;
  margin: 10px;
  background-color: turquoise;
}

.work-space {
  border: 1px solid black;
}

.symbol img {
  max-height: 100%;
  width: auto;
}
